@model WorldBuilder.Models.Tag

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Tag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TagIDPK" />
            <div class="form-group">
                <label asp-for="TagName" class="control-label"></label>
                <input asp-for="TagName" class="form-control" />
                <span asp-validation-for="TagName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagDescription" class="control-label"></label>
                <input asp-for="TagDescription" class="form-control" />
                <span asp-validation-for="TagDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagColor" class="control-label"></label>
                <input asp-for="TagColor" class="form-control" />
                <span asp-validation-for="TagColor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagWorldFK" class="control-label"></label>
                <input asp-for="TagWorldFK" class="form-control" />
                <span asp-validation-for="TagWorldFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagUserFK" class="control-label"></label>
                <input asp-for="TagUserFK" class="form-control" />
                <span asp-validation-for="TagUserFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagUserFKNavigation" class="control-label"></label>
                <input asp-for="TagUserFKNavigation" class="form-control" />
                <span asp-validation-for="TagUserFKNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TagWorldFKNavigation" class="control-label"></label>
                <input asp-for="TagWorldFKNavigation" class="form-control" />
                <span asp-validation-for="TagWorldFKNavigation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScriptTagScriptFKs" class="control-label"></label>
                <input asp-for="ScriptTagScriptFKs" class="form-control" />
                <span asp-validation-for="ScriptTagScriptFKs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
