@{
    ViewData["Title"] = "Home Page";
}

<section class="text-center px-5 py-12 space-y-5">
    <h1 class="text-black font-bold text-5xl">
        Build your own world
    </h1>
    <p>
        Create, explore and share immersive worlds and character across every genre - fantasy, sci-fi, modern, and beyond.
    </p>
    <div class="flex flex-row flex-wrap justify-center">
        <a asp-controller="World" asp-action="Create" class="bg-sky-700 hover:bg-blue-500 rounded p-4 text-white">+ Start building</a>
        <a asp-controller="World" asp-action="Index" class="bg-sky-700 hover:bg-blue-500 rounded p-4 ms-4 text-white">Explore worlds</a>
    </div>

</section>
