@model WorldBuilder.Models.BuilderView
@using WorldBuilder.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="flex flex-col">
    <div class="border-dashed p-5 flex flex-row">
        <div>
            <h1 class="text-2xl indent-8">
                Board View
            </h1>
        </div>
    </div>
    <div id="board" class="relative flex-1">
        <div id="card" class="absolute bg-sky-500 text-white p-4 rounded-md shadow-lg cursor-grab"
             style="top: 0px; left: 0px;">
            I am a card
        </div>
    </div>
</div>

<script>

    // const CARD_W = 200;
    // const catById = id =>































    let startX = 0, startY = 0, startLeft = 0, startTop = 0;
    const card = document.getElementById('card');

    card.addEventListener('mousedown', (e) => {
        e.preventDefault();
        startX = e.clientX;
        startY = e.clientY;
        startLeft = parseInt(card.style.left) || 0;
        startTop  = parseInt(card.style.top)  || 0;

        document.addEventListener('mousemove', mouseMove);
        document.addEventListener('mouseup', mouseUp);
    });

    function mouseMove(e) {
        const dx = e.clientX - startX;
        const dy = e.clientY - startY;
        card.style.left = (startLeft + dx) + 'px';
        card.style.top  = (startTop  + dy) + 'px';
    }

    function mouseUp() {
        document.removeEventListener('mousemove', mouseMove);
        document.removeEventListener('mouseup', mouseUp);
    }
</script>