@model WorldBuilder.Models.BuilderView

<div class="m-8 overflow-y-auto" id="cardPanel" data-world="@Model.SelectedWorld.WorldIDPK">
    <div id="cardMeta" class="text-sm text-gray-500 mb-5 hidden">loading…</div>
    <div id="cardTree"></div>
</div>