<!-- Category, Color of Category, Number of Scripts, Scripts, ScriptName, ScriptDescription, Edited/Created Date, Number of Connections -->
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="border rounded-sm flex flex-col">
    <div class="border-b-1 border-dashed">
        
    </div>
    <div>

    </div>
</div>