@model WorldBuilder.Models.Category
<div class="border rounded-md p-3 mb-2">
    <div class="flex flex-row items-center gap-2">
        <div class="w-4 h-4 rounded-full" style="background-color:@Model.CatColor"></div>
        <h2 class="text-lg font-semibold">@Model.CatName</h2>
    </div>
    <div class="ms-6 mt-1 text-sm text-gray-600">0 scripts</div>
</div>